.section-left-right
  position: relative
  min-height: 100vh
  width: 100%
  display: flex
  z-index: 3
  > div
    margin: auto
    z-index: 2
  p
    margin-top: 30px
    margin-bottom: 40px
.section50
  position: absolute
  width: 50%
  height: 100%
  top: 0
  bottom: 0
  z-index: 1 !important
  &-left
    left: 0
  &-right
    right: 0


@media screen and (max-width: 860px)
  .first-section
    padding-top: 150px
    padding-bottom: 150px
    text-align: center

