.we-will-do
  position: relative
  z-index: 2 !important

  .home-list li
    cursor: pointer

  &__left
    position: absolute
    width: 100%
    height: 100%
    z-index: 1

    &-img1,
    &-img2,
    &-img3
      position: absolute
      z-index: 1

    &-img1
      top: 150px
      left: 120px

    &-img2
      top: 200px
      left: -40px

    &-img3
      bottom: 100px
      left: 120px

  &__right
    background-color: #085DDB
    z-index: 5 !important

    &-line1,
    &-line2
      position: absolute
      z-index: 2

    &-line1
      top: 150px
      right: 200px

    &-line2
      bottom: 150px
      left: 200px

    .text
      position: absolute
      top: 25%
      left: -45px
      right: 25%
      min-height: 400px
      margin: 0
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: start
      background: #F6FAFF
      padding: 40px
      box-shadow: 0 10px 30px rgba(36, 67, 176, 0.1)
      border-radius: 2px

      &:after
        content: ''
        position: absolute
        top: 0
        right: 0
        width: 60px
        height: 60px
        background-color: #FFE342
        clip-path: polygon(100% 0, 0 0, 100% 100%)

      p
        margin: 0

.home-list
  li
    .number
      position: relative
      display: flex

      span
        margin-left: 0
        width: 28px !important
        display: block

      strong
        margin-left: 2px
        color: #085DDB

    span
      margin-left: 18px

  .active
    span
      color: #085DDB

.home-list .number
  width: auto

.fade-enter
  opacity: 0

.fade-enter-active,
.fade-enter-done
  opacity: 1
  transition: opacity 300ms ease-in

@media (max-width: 767px)

  .we-will-do
    padding-top: 50px
    padding-bottom: 50px
    text-align: center

    .home-list
      margin-left: 80px

      li
        flex-direction: column
        overflow: hidden

      .active
        span
          color: #ffffff

        .text
          display: flex
          flex-direction: column

  .we-will-do__left
    display: none

  .we-will-do__right
    display: none

  .text
    display: none
    text-align: start
    overflow: hidden

    p
      margin: 15px 0 0

    span
      margin-left: 0 !important

  .toggle-enter
    transform: translateY(-100%)

  .toggle-enter-active,
  .toggle-enter-done
    transform: translateY(0)
    transition: all 300ms ease-in


@media (max-width: 575px)

  .we-will-do .home-list li .number strong
    color: #FFE342

  .we-will-do
    background-color: #085DDB
    color: #ffffff

    .home-list
      margin-left: 10px