.card__element
  height: 100%
  box-shadow: 0px 10px 30px rgba(36, 67, 176, 0.1)
  border-radius: 2px
  background: #FFFFFF
  border: none
  padding: 15px
  .card
    &-view
      position: absolute
      top: 0
      right: 0
      width: 80px
      height: 80px
      background-color: #FFE342
      clip-path: polygon(100% 0, 0 0, 100% 100%)
      cursor: pointer
      display: flex
      justify-content: center
      align-items: center
      transition: 0.3s linear all
      svg
        height: 20px
        width: 15px
        position: absolute
        top: 15px
        right: 16px
        pointer-events: none
      a
        text-align: center
        font-size: 18px
        color: #085DDB
        display: none
        font-weight: 500
      &:hover
        a
          display: block
        svg
          display: none
        width: 100%
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
    &-body
    &-title
      font-weight: 700
      font-size: 20px
      line-height: 20px
      margin-top: 20px
    &-header
      border-bottom: none
      background-color: transparent
      padding: 0
      display: flex
      justify-content: space-between
      align-items: center
      img
        //width: 40px
        //height: 46px
      strong
        font-weight: 700
        font-size: 20px
        line-height: 24px