.optimization-site
  &.section50-left
    background-color: #0862ff
    position: relative
    width: 100%
    min-height: auto
    display: flex
    z-index: 3
    padding-top: 50px
    padding-bottom: 50px
    > div
      margin: auto
      z-index: 2
  &.section50-right
    display: flex
    background: linear-gradient(106.85deg, #FCFAF9 38.81%, #DFD9D9 100%)
    img
      margin: auto
      display: block
  &__content
    color: white
    .home-list li .number strong
      color: #FFE342
    ul li:first-child .span-child
      color: #FFE342
      font-weight: 700
@media screen and (min-width: 990px)
  .optimization-site
    &.section50-left
      min-height: 100vh
@media (max-width: 992px)
  .optimization-site
    &.section50-left
      width: 100%
    &.section50-right
      display: none
@media (max-width: 370px)
  .optimization-site
    &__content
      overflow: hidden
      h2.h1
        font-size: 40px