.optimization-site
  &.section50-left
    background: linear-gradient(rgba(8, 98, 255, 1), rgba(8, 93, 219, 1))
    color: white
    min-height: auto
    display: flex
    padding: 50px
    z-index: 2 !important

    > div
      margin: auto

  &.section50-right
    display: flex
    background: linear-gradient(106.85deg, #FCFAF9 38.81%, #DFD9D9 100%)

    img
      margin: auto
      display: block

  &__content
    display: flex
    flex-direction: column

    .home-list li .number strong
      color: #FFE342

  .whiteBtn
    border: none

    &:hover
      background: #F6FAFF
      color: #085DDB

@media (max-width: 991px)
  .optimization-site
    overflow: hidden

    &.section50-left
      position: relative
      width: 100%
      padding: 50px 15px

    &.section50-right
      display: none
