.first-section-IP
  padding-bottom: 50px

  &__elements
    display: none

  .ellipse1
    position: absolute
    right: 5%
    bottom: 15%
    pointer-events: none

  .ellipse2
    pointer-events: none
    position: absolute
    right: 3%
    bottom: 30%

  &__content
    position: relative
    z-index: 2

    h1 span
      padding-left: 60px

    p, ul
      padding-left: 80px

@media (max-width: 440px)
  .first-section-IP
    &__content
      display: flex
      flex-direction: column

      h1
        font-size: 35px
        padding-top: 100px

        span
          padding-left: 0

      p, ul
        padding-left: 0

    .ellipse1
      bottom: 5%

    .ellipse2
      bottom: 15%

@media (min-width: 768px)
  .first-section-IP
    &__elements
      display: block
      pointer-events: none
      position: relative
      width: 100%
      height: 100%
      z-index: 1

      .dots-img
        position: absolute
        bottom: 12%
        left: 15%
        z-index: 1

      .mac
        z-index: 2
        position: absolute
        top: 35%
        left: 50%
        transform: translate(-50%)

    .mainBtn
      margin-left: 80px
