header
  &.whiteMenu
    .menu,
    .tel
      color: #FFFFFF

    .menu a.active
      color: #FFFFFF

    #line
      border-color: rgb(255, 255, 255)

  &.grayMenu
    .menu
      color: #3B3F45

    .menu a.active
      color: #085DDB

    #line
      border-color: #085DDB

  &.left-gray_right-white
    .menu
      ul
        li:nth-child(4),
        li:nth-child(5)
          a
            color: #FFFFFF

      a
        color: #3B3F45

    .tel,
    .tel a
      color: #FFFFFF

    .menu a.active
      color: #085DDB

    #line
      border-color: #085DDB

  &.left-white_right-gray
    .menu
      ul
        li:nth-child(1),
        li:nth-child(2),
        li:nth-child(3)
          a
            color: #FFFFFF

      a
        color: #3B3F45

    .tel,
    .tel a
      color: #3B3F45

    .menu a.active
      color: #FFFFFF

    #line
      border-color: #FFFFFF

  &.gray
    background: rgba(255, 255, 255, 0.9)

  &.line-none
    #line
      display: none !important

