.first-section-design
  position: relative
  width: 100%
  min-height: auto
  display: flex
  z-index: 3
  padding-top: 50px
  padding-bottom: 50px
  background: #085DDB
  color: white
  > div
    margin: auto
    z-index: 2
  p
    margin-top: 50px
@media screen and (min-width: 990px)
  .first-section-design
    min-height: 100vh
@media screen and (max-width: 500px)
  .first-section-design
    padding-top: 160px
    .h1
      font-size: 35px